.avatar{
	width: 26px;
	height: 26px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    img{
    	width: 100%
    }
}
.usernick{
	display: inline-block;
	vertical-align: middle;
	line-height: 26px;
}