
@font-face {font-family: "weui-icon-custom";
  src: url('//at.alicdn.com/t/font_pnzb2h0hevuqh0k9.eot?t=1484535281730'); /* IE9*/
  src: url('//at.alicdn.com/t/font_pnzb2h0hevuqh0k9.eot?t=1484535281730#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_pnzb2h0hevuqh0k9.woff?t=1484535281730') format('woff'), /* chrome, firefox */
  url('//at.alicdn.com/t/font_pnzb2h0hevuqh0k9.ttf?t=1484535281730') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_pnzb2h0hevuqh0k9.svg?t=1484535281730#weui-icon-custom') format('svg'); /* iOS 4.1- */
}

[class^="weui-icon-custom"],
[class*="weui-icon-custom"]:before {
  font-family:'weui-icon-custom', sans-serif;
  font-style: normal;
  text-transform: none !important;
  speak: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

.weui-icon-custom-minuse:before { content: "\e62c"; }

.weui-icon-custom-qrcode:before { content: "\e639"; }

.weui-icon-custom-travel:before { content: "\e676"; }

.weui-icon-custom-my:before { content: "\e64f"; }

.weui-icon-custom-budget:before { content: "\e605"; }

.weui-icon-custom-audit:before { content: "\e63f"; }

.weui-icon-custom-activity:before { content: "\e612"; }

.weui-icon-custom-category:before { content: "\e703"; }

.weui-icon-custom-assets:before { content: "\e650"; }

.weui-icon-custom-lend:before { content: "\e651"; }

.weui-icon-custom-minuse-circle:before { content: "\e632"; }

.weui-icon-custom-payment:before { content: "\e60c"; }

.weui-icon-custom-expense:before { content: "\e630"; }

.weui-icon-custom-add:before { content: "\e664"; }

.weui-icon-custom-dailyReport:before { content: "\e688"; }

.weui-icon-custom-query:before { content: "\e6d8"; }

.weui-icon-custom-contract:before { content: "\e684"; }

.weui-icon-custom-adjust:before { content: "\e606"; }

.weui-icon-custom-audited:before { content: "\e679"; }

.weui-icon-custom-spend:before { content: "\e61e"; }

.weui-icon-custom-deptBudget:before { content: "\e69c"; }

.weui-icon-custom-fund:before { content: "\e69a"; }

.weui-icon-custom-apply:before { content: "\e601"; }

.weui-icon-custom-add-circle:before { content: "\e720"; }




