*{
  box-sizing: border-box;
}
html, body {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size:$text-normal;
}
body{
    font-family: -apple-system-font, "Helvetica Neue", Helvetica, sans-serif;
}
p{
    margin:0;
}
ul{
    margin:0;
    padding:0;
    list-style-type:none;
}
h3,h4,dl,dd{
    padding:0;
    margin:0;
}
a{
	cursor:pointer;
  text-decoration:none;
}
.iScrollVerticalScrollbar.iScrollLoneScrollbar{
  width: 4px!important;
}
.weui-tabbar__icon,.weui-tabbar__label{
  pointer-events: none
}
[class^="weui-icon-"]:before,
[class*=" weui-icon-"]:before {
  display: inline-block;
  margin-left: 0;
  margin-right: 0;
}
.weui-loadmore{
  margin: 0 auto;
  line-height: 50px;
  height: 50px;
}
.weui-loadmore_line{
  margin-top: 0;
  height: 0;
  transform: translateY(25px);
  .weui-loadmore__tips{
    top: -27px;
    background: #f8f8f8;
  }
}
.weui-btn{
  line-height: 2.2em;
  padding: 0;
}
.weui-textarea{
  padding: 5px;
}
.weui-cells__title{
  padding-top: 0.77em;
  margin-top: 0;
}
.weui-cells{
  background: none;
  margin-top: 0;
  font-size: 14px;
  &:before{
    border-top: none;
  }
  &:after{
    border-bottom: none;
  }
}
.weui-select{
  height: 40px;
  line-height: 40px;
}
.weui-cell{
  font-size: 14px;
  &:before{
    border-top: none;
  }
  .weui-cell__bd{
    min-width: 35%;
  }
  .weui-cell__ft{
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 65%;
    overflow: hidden;
  }
}
.weui-cells_checkbox, .weui-cells_radio{
  .weui-cell__hd,.weui-cell__bd{
    pointer-events: none;
  }
}
.weui-form-preview{
  margin-bottom: 0.5em;
  .weui-form-preview__hd, .weui-form-preview__bd{
    padding: 5px 15px;
  }
  .weui-form-preview__value{
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .weui-form-preview__ft{
    line-height: 3em;
  }
}
.weui-media-box__title{
  font-size: 14px;
}
.weui-tips{
  position: fixed;
  width: 40%;
  top: 180px;
  left: 30%;
  z-index: 5000;
  padding: 10px;
  text-align: center;
  background: rgba(40, 40, 40, 0.75);
  border-radius: 5px;
  color: #fff;
  .weui-tips__content{}
}


