*{
  box-sizing: border-box;
}
html, body {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size:$text-normal;
    line-height:1.2;
}
body{
    font-family: -apple-system-font, "Helvetica Neue", Helvetica, sans-serif;
}
p{
    margin:0;
}
ul{
    margin:0;
    padding:0;
    list-style-type:none;
}
h3,h4,dl,dd{
    padding:0;
    margin:0;
}
a{
	cursor:pointer;
  text-decoration:none;
}
[class^="weui-icon-"]:before,
[class*=" weui-icon-"]:before {
  display: inline-block;
  margin-left: 0;
  margin-right: 0;
}

.weui-cells{
  background: none;
}
.weui-cells__title{
  padding-top: 0.77em;
  margin-top: 0;
}
.weui-cells:after{
  border-bottom: none;
}
.weui-form-preview{
  margin-bottom: 1.17647059em;
}
.weui-tips{
  position: fixed;
  width: 40%;
  top: 180px;
  left: 30%;
  z-index: 5000;
  padding: 10px;
  text-align: center;
  background: rgba(40, 40, 40, 0.75);
  border-radius: 5px;
  color: #fff;
  .weui-tips__content{}
}
