$border-radius-base     : 2px;
$border-radius-sm       : 0;
$info-color							:#3B72CF;
//颜色
$color								:#333;
$color-light					:#999;
$color-lighter				:#D0D4D9;
$color-red						:#FF2255;
$color-warn						:#F5A623;
$body-background			:#fff;
$border-color					:#cbcbcb;
$border-color-light		:#eee;
$bg-red								:#FF2255;
$bg-red-light					:mix($bg-red,#fff,70%);
$bg-red-lighter				:mix($bg-red,#fff,40%);
$bg-grey							:#ccc;
$bg-light							:#F6F6F6;
$bg-dark							:#333;
$bg-info							:#61A1EB;
$bg-info-lighter			:mix($bg-info,#fff,40%);

//尺寸
$space-xxs:2px;
$space-xs:5px;
$space-sm:10px;
$space:15px;
$space-md:20px;
$space-lg:30px;

$text-xxs:11px;
$text-xs:12px;
$text-sm:13px;
$text-normal:14px;
$text-md:16px;
$text-lg:17px;
$text-big:20px;
$text-xxl:24px;

$width-xxl:150px;
$width-xl:120px;
$width-lg:90px;
$width-md:75px;
$width:60px;
$width-sm:50px;
$width-xs:19px;
$width-xxs:15px;
$width-full:100%;
$width-auto:auto;

$h-full:100%;
$h: 40px;


$s:2;

