@import "./theme";	//主题变量
@import "./reset";	//重置
@import "./mixin";	//方法
@import "./gird";	//布局
@import "./media";	//media查询改变样式
@import "./1px";	//1px实现
@import "./module";	//小组件样式
@import "./font";	//字体
@import "./util";	//工具类

#appWrapper, #container{
	height:100%;
	background: $body-background;
}
.containerWrap {
	height: auto;
	background: $body-background;
}

.noscroll{
	height: 100%;
	overflow: hidden;
}

.user{
	width: 34px;
	height:34px;
	display: block;
	position: relative;
	float: left;
	margin: 4px 5px;
	overflow: hidden;
	.user_avatar{
		width: 100%;
	}
	.user_name{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 14px;
		line-height: 14px;
		color: #fff;
		background: #333;
		opacity: 0.7;
		font-size: 11px;
		text-align: center;
	}
	.user_delete{
		position: absolute;
		font-size: 20px;
	    top: -8px;
	    color: red;
	    right: -1px;
	}
}




